.card {
    display: block;
    flex: 0 1 30%;
    cursor: pointer;
    transition: all 0.3s ease;
}


.card a {
    display: block;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: rotateY(15deg);
    transition: all 0.8s;
}

.card:hover a {
    transform: rotateX(5deg);
}

.card:hover .description li {
    transform: translateY(-20px) scale(1.05);
    margin-bottom: 15px;
    text-shadow: 0px 10px 5px rgba(0, 0, 0, 0.8);

}

.card:hover .bottom {
    padding: 30px 20px 50px;

}

.card:hover {
    transform: scale(1.05);
}

.card:hover .header h2 {
    transform: translateY(-10px) scale(1.05);
    text-shadow: 0px 10px 5px rgba(0, 0, 0, 0.5);
}

.card:hover .header img {
    transform: translateY(-20px) scale(1.05);
    filter: drop-shadow(0px 20px 5px rgba(0, 0, 0, 0.5));

}

.header img {
    transition: all 0.3s ease;

}

.header h2 {
    color: #ffffff;
    font-family: 'Open-sans', sans-serif;
    font-size: 20px;
    transition: all 0.8s ease;

}

.top {
    background-color: #903FC6;
    border-radius: 40px 0 0 0;
    padding: 70px 0 0px 0;
    height: 200px;

}

.bottom {
    padding: 20px 20px 50px;
    background-color: #270041;
    margin: 0 auto;
    border-radius: 0px 0 40px 0;
    min-height: 200px;
    transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {

    text-align: center;
}



.description li {
    color: #ffffff;
    font-family: 'Open-sans', sans-serif;
    font-size: calc(15px + 5 * (100vw / 1920));
    margin-bottom: 10px;
    list-style: none;
    display: flex;
    transition: all 0.3s ease;
    gap: 10px;
}

.btn {
    font-family: 'Open-sans', sans-serif;
    margin: 10px auto 0;
    border-radius: 20px 0 20px 0;
    background-color: #903FC6;
    font-size: calc(15px + 5 * (100vw / 1920));
    width: 200px;
    height: 50px;
    color: #fff;
    transition: all 0.3s;

}

.card:hover .btn {
    width: 220px;
    height: 60px;
    border: solid 1px #fff;
    transform: translateY(-20px);
    filter: drop-shadow(0px 20px 5px rgba(0, 0, 0, 0.298));


}


@media(max-width:1030px) {
    .card {
        flex: 0 1 45%;
    }
}

@media(max-width:992px) {
    .card {
        perspective: 0px;
    }


    .card a {
        transform: rotateY(0deg);
    }

    .card:hover a {
        transform: rotateX(0deg);
    }

    .card:hover .description li {
        transform: translateY(0px) scale(1);
        margin-bottom: 0px;
        text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.8);

    }

    .card:hover .bottom {
        padding: 0px 0px 0px;

    }

    .card:hover {
        transform: scale(1);
    }

    .card:hover .header h2 {
        transform: translateY(0px) scale(1);
        text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
    }

    .card:hover .header img {
        transform: translateY(0px) scale(1);
        filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.5));

    }

}

@media(max-width:768px) {
    .card {
        flex: 0 1 100%;
    }
}